<div class="mdc-dialog " 
	 id="loginPage"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="my-dialog-title"
     aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
            <h2 class="mdc-dialog__title" id="my-dialog-title">Sign up& Log in</h2>
            <div class="mdc-dialog__content" id="my-dialog-content">
                <div class="text-field-row">
                    <div class="mdc-text-field mdc-text-field--outlined mdc-input" >
                        <input type="text" id="tf-outlined-name" class="mdc-text-field__input" maxlength="30" autofocus="autofocus" required="">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="tf-outlined-name" class="mdc-floating-label">UserName</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field-helper-line">
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg"
                                id="pw-validation-msg">If not exists, it will be created automatically.</p>
                    </div>
                </div>
                <div class="text-field-row">
                    <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon mdc-input" >
                        <i class="material-icons mdc-text-field__icon">visibility</i>
                        <input type="password" id="tf-outlined-pw" class="mdc-text-field__input" maxlength="30" required="">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="tf-outlined-pw" class="mdc-floating-label">Password</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                    <span class="mdc-button__label" >Cancel</span>
                </button>
                <button type="button" class="mdc-button mdc-dialog__button mdc-dialog__button--default"
                        data-mdc-dialog-action="accept">
                    <span class="mdc-button__label">OK</span>
                </button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>