<div class="pronc-char-plu">
    <div class="text-field-row tobe-inline" >
		<div class="input-place">
			<div class="mdc-text-field mdc-text-field--outlined mdc-input" >
				<input type="text" id="tf-outlined-cha" class="mdc-text-field__input" maxlength="10" >
				<div class="mdc-notched-outline">
					<div class="mdc-notched-outline__leading"></div>
					<div class="mdc-notched-outline__notch">
						<label for="tf-outlined-cha" class="mdc-floating-label">Character</label>
					</div>
					<div class="mdc-notched-outline__trailing"></div>
				</div>
			</div>
			<button class="mdc-button mdc-button--outlined  mdc-button-get" >
				<span class="mdc-button__label">GET</span>
			</button>
			<div class="mdc-text-field-helper-line">
			<p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Please input only one Chinese character or pinyin.</p>
			</div>
		</div>
		<div id="output-pronc-char">
			<p class="mdc-typography--body1">Output Here</p>
			<button class="mdc-icon-button material-icons">play_circle_filled</button>
		</div>
    </div>
</div>
