		            <footer class="footer" >
                <section class="footer__content">
                    <div class="footer__row">
                        <div class="footer__copy">
                            <p class="footer__description">This site is a homework to learn JS, written by LQY, 3/9,2019.</p>
                            <nav class="footer__navigation">
                                <ul class="footer__navigation-list">
                                    <li class="footer__navigation-list-item">
                                        <a href="#" class="footer-block__social-nav-link">
                                            Github
                                        </a>
                                    </li>
                                    <li class="footer__navigation-list-item">
                                        <a href="#" target="_blank" class="footer-block__social-nav-link">
                                            Social
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <hr class="mdc-list-divider">
                    <div class="footer__row footer-legal">
                        <p>2019</p>
                        <a href="/privacy"  class="footer-legal__nav-list-link">
                            Privacy Policy
                        </a>
                    </div>
                </section>
            </footer>