
	<div class="mdc-card mdc-card-index">
		<div class="my-card__media mdc-card__media mdc-card__media--16-9">
		</div>
		<div class="index-pri">
			<h4 class="mdc-typography--headline4">Read Chinese in daily life!</h4>
			<p class="demo-card__secondary mdc-typography mdc-typography--body2">Welcome to Chinese Pronunciation Guide.</p>
			<p class="demo-card__secondary mdc-typography mdc-typography--body2">You can open the sidebar on the left to learn and test your Chinese here.</p>
		</div>

	</div>
