<div class="mdc-top-app-bar--fixed-adjust tab-bar--fixed-adjust"></div>
<div class="placecenter">
	<p class="mdc-typography--body2 ">
		this tutorial is from other site
	</p>
</div>


<div class="learn-all">
    <div class="learn-intro learn-body">
        <div class="mdc-card learn-part" id="learn-part-1 ">
            <h4 class="mdc-typography--headline4">Part 1: What is Pinyin?</h4>
            <p class="mdc-typography--body1">
                Pinyin is a system for writing standard Mandarin Chinese using the Roman alphabet. Pinyin was developed by the People’s Republic of China in 1958, and implemented in 1979. It is used exclusively in mainland China to this day. Over the years pinyin has become widely accepted by the international community, replacing older systems of Romanization such as the Wade-Giles system.
            </p>
            <p class="mdc-typography--body1">
                It is important to remember that although pinyin uses the same letters as European languages, the sounds those letters represent are the sounds of Mandarin Chinese. Thus some letters may not make the sounds you expect. It is important that you pay close attention to how each letter of pinyin is pronounced, as you cannot read pinyin as if it were English.
            </p>
            <p class="mdc-typography--body1">
                There are three parts in a pinyin syllable, which are the Initial, Final and Tone. Initial and final represent the segmental phonetic portion of the language, rather than letter by letter.
            </p>
        </div>
        <div class="mdc-card learn-part" id="learn-part-2 ">
            <h4 class="mdc-typography--headline4">Part 2: What is Tones?</h4>
            <p class="mdc-typography--body1">
                Mandarin Chinese is a tonal language, which means that the way a sound is pronounced directly affects the meaning of what is said. Mandarin’s tones give the language a very distinctive quality, but the tones can also be a source of miscommunication if not given due attention.
            </p>
            <p class="mdc-typography--body1">
            </p>
                There are four main tones and one neutral tone in mandarin Chinese (or, as some say, five tones). Each tone has a distinctive pitch contour, which can be graphed using the following Chinese 5-level system.
            <p class="mdc-typography--body1">
                We learn these tones in the fourth part.
            </p>
        </div>
        <div class="mdc-card learn-part" id="learn-part-3 ">
            <h4 class="mdc-typography--headline4">Part 3: Tips and Suggestions:</h4>
            <h5 class="mdc-typography--headline5">
                1. Master the basic rules of pronunciation and tones.
            </h5>
            <p class="mdc-typography--body1">
				Knowing basic greetings like “你好” “你好吗” in Chinese is not hard, but advancing beyond the warm up greetings is quite different endeavor. As a beginner, the most important thing is be familiar with all pinyin sounds, spelling rules and tone changing rules. If possible, you`d better find a professional teacher who can speak standard mandarin Chinese and explain the differences among those similar sounds properly.
            </p>
            <p class="mdc-typography--body1">
                There are many learning experiences sharing about how to improve your Chinese pronunciation. Regarding the tones, besides the regular tones practice, there are some learners who share their methods like mastering without using tone marks.
            </p>

            <h5 class="mdc-typography--headline5">
                2. Having Enough input: Make your own language environment
            </h5>
            <p class="mdc-typography--body1">
                If you are learning Chinese in China or luckily be surrounded by a group of native speakers, just try to talk to them with what you`ve learnt. If you can`t follow them at the beginning, don`t feel embarrassed or upset. It`s a quite common phase. What you need to do is at least distinguishing the words you`ve learnt and be more familiar with the intonation Chinese language make. Gradually you can connect all the words and figure out what they are talking about.
            </p>
            <p class="mdc-typography--body1">
                If you don`t have the language environment, make it yourself! There are tons of online learning resources. No matter Chinese learning audios or videos, you can make use of your fragment time to listen. Sometimes, the learning content is a little bit tedious, afterwards you can find some Chinese songs to perfect your accent.   Also, learning from movies and TV shows is also a great way to train your sense of the language, and know more about Chinese culture as well.
            </p>
        </div>
    </div>
    <div class="learn-vowel learn-body learn-body--hidden">
        <div class="mdc-card learn-part">
            <h4 class="mdc-typography--headline4">A</h4>
            <p class="mdc-typography--body1">
            The pinyin vowel a has a rather uniform pronunciation in Chinese, very similar to the "a" sound in the English "father". (The two exceptions to this pronunciation rule are ian and üan, both covered in later sections.)
            </p>
            <p class="mdc-typography--body1">
            ... ...
            </p>

            <table class="pronunciation-table">
                <tr class="pronunciation-single">
                    <td>
                        <label>a</label>
                    </td>
                    <td>
                        <label>[ɑ]</label>
                    </td>
                    <td>
                        <div>
                            <button class="mdc-icon-button material-icons" id="learn-audio-1">play_circle_filled</button>
                        </div>
                    </td>
                </tr>
                <tr class="pronunciation-single">
                    <td>
                        <label>ai</label>
                    </td>
                    <td>
                        <label>[ai]</label>
                    </td>
                    <td>
                        <div>
                            <button class="mdc-icon-button material-icons" id="learn-audio-2">play_circle_filled</button>
                        </div>
                    </td>
                </tr>
                <tr class="pronunciation-single">
                    <td>
                        <label>ao</label>
                    </td>
                    <td>
                        <label>[ɑu]</label>
                    </td>
                    <td>
                        <div>
                            <button class="mdc-icon-button material-icons" id="learn-audio-3">play_circle_filled</button>
                        </div>
                    </td>
                </tr>
                <tr class="pronunciation-single">
                    <td>
                        <label>an</label>
                    </td>
                    <td>
                        <label>[an]</label>
                    </td>
                    <td>
                        <div>
                            <button class="mdc-icon-button material-icons" id="learn-audio-4">play_circle_filled</button>
                        </div>
                    </td>
                </tr>
                <tr class="pronunciation-single">
                    <td>
                        <label>ang</label>
                    </td>
                    <td>
                        <label>[ɑŋ]</label>
                    </td>
                    <td>
                        <div>
                            <button class="mdc-icon-button material-icons" id="learn-audio-5">play_circle_filled</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="learn-consonant learn-body learn-body--hidden">
        <div class="mdc-card learn-part">
            <h4 class="mdc-typography--headline4">Z, C, S</h4>
            <p class="mdc-typography--body1">
                The Mandarin consonant sounds z, c, and s are not totally foreign sounds to the native English speaker, but can nevertheless cause some difficulty. The s sound is identical to English's, so it will not be explained. The consonant sounds z and c are very noteworthy first because they are not pronounced at all like "z" and "c" are pronounced in English. You must train yourself to recognize z and c as special Mandarin consonants.
            </p>
            <p class="mdc-typography--body1">
                ... ...
            </p>

            <table class="pronunciation-table">
                <tr class="pronunciation-single">
                    <td>
                        <label>z</label>
                    </td>
                    <td>
                        <label>[ts]</label>
                    </td>
                    <td>
                        <div>
                            <button class="mdc-icon-button material-icons" id="learn-audio-6">play_circle_filled</button>
                        </div>
                    </td>
                </tr>
                <tr class="pronunciation-single">
                    <td>
                        <label>c</label>
                    </td>
                    <td>
                        <label>[tsh]</label>
                    </td>
                    <td>
                        <div>
                            <button class="mdc-icon-button material-icons" id="learn-audio-7">play_circle_filled</button>
                        </div>
                    </td>
                </tr>
                <tr class="pronunciation-single">
                    <td>
                        <label>s</label>
                    </td>
                    <td>
                        <label>[s]</label>
                    </td>
                    <td>
                        <div>
                            <button class="mdc-icon-button material-icons" id="learn-audio-8">play_circle_filled</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="learn-pronunciation learn-body learn-body--hidden">
        <div class="mdc-card learn-part">
            <h4 class="mdc-typography--headline4">Common Difficulties You Might meet</h4>
            <p class="mdc-typography--body1">
               The purpose of this section is to clarify some common mistakes and difficulties you might meet when learning mandarin Chinese pronunciations. There are some distinct sounds in Chinese that are tricky to non-native speakers. Let`s conquer them one by one, thus there is less barrier in your pronunciation path.
            </p>
            <p class="mdc-typography--body1">
               Most of the difficult pinyin sounds are initials, like zh/ch/sh, z/c/s, j/q/x and r.
            </p>
            <div >
                <p class="mdc-typography--body1 tobe-inline" >
                    There is also a final “ü” that most foreigners can`t pronounce very well.
                </p>
                <button class="mdc-icon-button material-icons" id="learn-audio-9">play_circle_filled</button>
            </div>
            <p class="mdc-typography--body1">
                Key: There is a pinyin “i” sound in it, and you need to make your mouth shape as the pinyin “u”, then the “ü” sound comes out.
            </p>
            <h5 class="mdc-typography--headline5">Let's give it a try!</h5>
            <%- include(`./plugin/proncChar.ejs`) %>
        </div>
        <div class="mdc-card learn-part">
            <h4 class="mdc-typography--headline4">Tones</h4>
            <img class="vowel-img" src="../images/pronu_tones.gif" alt="tunes">
            <table class="pronunciation-tone-table">
                <tr class="pronunciation-tone-single">
                    <td>
                        <p class="mdc-typography--body1">First Tone</p>
                    </td>
                    <td>
                        <p class="mdc-typography--body1">High and level sound, naturally prolonged.</p>
                    </td>
                    <td>
                        <p class="mdc-typography--body1">A straight horizontal line: ˉ</p>
                        <p class="mdc-typography--body1">e.g.   mā</p>
                    </td>
                    <td>
                        <div>
                            <button class="mdc-icon-button material-icons" id="learn-audio-10">play_circle_filled</button>
                        </div>
                    </td>
                </tr>
                <tr class="pronunciation-tone-single">
                    <td>
                        <p class="mdc-typography--body1">Second Tone</p>
                    </td>
                    <td>
                        <p class="mdc-typography--body1">Rising tone, from low to high, just like the pitch in question.</p>
                    </td>
                    <td>
                        <p class="mdc-typography--body1">A rising diagonal line:ˊ</p>
                        <p class="mdc-typography--body1">e.g.   má</p>
                    </td>
                    <td>
                        <div>
                            <button class="mdc-icon-button material-icons" id="learn-audio-11">play_circle_filled</button>
                        </div>
                    </td>
                </tr>
                <tr class="pronunciation-tone-single">
                    <td>
                        <p class="mdc-typography--body1">Third Tone</p>
                    </td>
                    <td>
                        <p class="mdc-typography--body1">First falling and then going up again.</p>
                    </td>
                    <td>
                        <p class="mdc-typography--body1">A curved “dipping” line: ˇ</p>
                        <p class="mdc-typography--body1">e.g.   mǎ</p>
                    </td>
                    <td>
                        <div>
                            <button class="mdc-icon-button material-icons" id="learn-audio-12">play_circle_filled</button>
                        </div>
                    </td>
                </tr>
                <tr class="pronunciation-tone-single">
                    <td>
                        <p class="mdc-typography--body1">Forth Tone</p>
                    </td>
                    <td>
                        <p class="mdc-typography--body1">Total falling tone which starts out very high and falls short and strong.</p>
                    </td>
                    <td>
                        <p class="mdc-typography--body1">A dropping diagonal line:ˋ</p>
                        <p class="mdc-typography--body1">e.g.   mà</p>
                    </td>
                    <td>
                        <div>
                            <button class="mdc-icon-button material-icons" id="learn-audio-13">play_circle_filled</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

