<div class="mdc-top-app-bar--fixed-adjust tab-bar--fixed-adjust"></div>
<div class="mdc-card div-user-history">
	<h1 class="mdc-typography--headline1">Under construction!!</h1>
    <h4 class="mdc-typography--headline4">Choose to display your recent study progress.</h4>
    <h4 class="mdc-typography--headline4">Choose to display your recent login history.</h4>
    <%- include(`./plugin/chart.ejs`) %>
</div>